[submodule "themes/hugo-theme-stack"]
	path = themes/hugo-theme-stack
	url = https://github.com/CaiJimmy/hugo-theme-stack/
[submodule "blogasek"]
	path = content
	url = https://github.com/MikDal002/Blogowanko.git
