.colist {
    & table {
        border: none;
    }

    & tr {
        border: none;
    }

    & td {
        border: none
    }

    td:nth-of-type(1) {
            vertical-align: middle;
            padding: 0 1em 0;
    }
}

.sidebarblock {
    pre {
        margin-left: 0px;
        margin-right: 0px;
        width: 100%;
        -webkit-border-radius: 4px;
        border-radius: 4px;
    }
}

pre {
    white-space: pre;
    padding: 0.5em;
}

.admonitionblock {
    border: 1px solid var(--body-text-color); 
    -webkit-border-radius: var(--tag-border-radius);
    border-radius: var(--tag-border-radius);
    
    table {
        border: none;
        td {
            border: none;
            vertical-align: middle;
            &.icon {
                font-size: 4rem;
            }
        }
    }
}

.quoteblock {
    blockquote {
        &::before {
            margin-top: -20px;
        }
    }
}

.widget--toc {
    #TableOfContents {

        ol {
            // list-style-type: none;
            list-style-position: outside;
            margin-left: 1em;
            li:before {
                // content: '';
                margin-right: -1em;
            }
        }
    }
}