
// FIX
// When standard 10px padding is set then hamburger touches site description 
// in one column layout
.hamburger {
    padding-top: 0px;
}

// IMPROVEMENT
// For long TOCs there is no need to scrool when we make TOC longer.
.widget--toc {
    #TableOfContents {
        max-height: 85vh;
    }
}

// OWN-STYLE -- START -->
// Style every hyper link in article's text.
.paragraph a, a.bare {
    text-decoration: underline;
    transition: all 0.5s ease;

    &:hover {
        background-color: var(--body-text-color);
    }
    
    &:after {
        // Not breaking space, and unicode arrow
        content: "\202F\2934";
        font-size: small;
    }
}

// Remove an arrow after dot in bibliography but left it when there is traditional hyperlink.
.bibliography {
    a:nth-child(1):after:not(.bare) {
        content: none;
    } 
}
// OWN-STYLE <-- Stop

.colist {
    & table {
        border: none;
    }

    & tr {
        border: none;
    }

    & td {
        border: none
    }

    td:nth-of-type(1) {
        vertical-align: middle;
        padding: 0 1em 0;
    }
}

.sidebarblock {
    pre {
        margin-left: 0px;
        margin-right: 0px;
        width: 100%;
        -webkit-border-radius: 4px;
        border-radius: 4px;
    }
}

pre {
    white-space: pre;
    padding: 0.5em;
}

.admonitionblock {
    border: 1px solid var(--body-text-color);
    -webkit-border-radius: var(--tag-border-radius);
    border-radius: var(--tag-border-radius);

    table {
        border: none;

        td {
            border: none;
            vertical-align: middle;

            &.icon {
                font-size: 4rem;
            }
        }
    }
}

.quoteblock {
    blockquote {
        &::before {
            margin-top: -20px;
        }
    }
}
